{% extends 'educateurBase.html.twig' %}

{% block title %} Ajout d'un enfant {% endblock %}

{% block bodyclass %} class="page-ajout-enfant" {% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2 user-present">
      {{user}}  |

      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <a href="{{ path('fos_user_security_logout') }}">
              {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
          </a>
      {% endif %}
    </div>
  </div>

  {% if message is defined %}
    <div id="message">
      {{message}}
    </div>
  {% endif %}

  <div class="row">
    <h1 class="titre-page col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
        Ajouter un enfant
    </h1>

  <div class="col-md-8 col-md-offset-2">
    {{ form_start(form, {'attr': {'class': 'form-ajout-enfant'}}) }}

    <div class="form-group">
      <div class="row">
        {{ form_label(form.username,"Prénom", {'label_attr': {'class': 'col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-3 control-label form-required'}}) }}
        <div class="col-md-4 col-sm-4 col-xs-4">
          {{ form_widget(form.username, {'attr': {'class': 'form-control form-ajout-enfant-input', 'required' :'required'}}) }}
        </div>
      </div>

      <div class="row">
        {{ form_label(form.name,"Nom", {'label_attr': {'class': 'col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-3 control-label form-required'}}) }}
        <div class="col-md-4 col-sm-4 col-xs-4">
          {{ form_widget(form.name, {'attr': {'class': 'form-control form-ajout-enfant-input', 'required' :'required'}}) }}
        </div>
      </div>

      <div class="row">
        {{ form_label(form.password,"Mot de passe", {'label_attr': {'class': 'col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-3 control-label', 'type': 'PasswordType'}}) }}
        <div class="col-md-4 col-sm-4 col-xs-4">
          {{ form_widget(form.password.first, {'attr': {'class': 'form-control form-ajout-enfant-input'}}) }}
        </div>
      </div>

      <div class="row">
        {{ form_label(form.password,"Vérification du mot de passe", {'label_attr': {'class': 'col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-3 control-label', 'type': 'PasswordType'}}) }}
        <div class="col-md-4 col-sm-4 col-xs-4">
          {{ form_widget(form.password.second, {'attr': {'class': 'form-control form-ajout-enfant-input'}}) }}
        </div>
      </div>

      <div class="row">
        {{ form_label(form.age,"Âge", {'label_attr': {'class': 'col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-3 control-label'}}) }}
        <div class="col-md-4 col-sm-4 col-xs-4">
          {{ form_widget(form.age, {'attr': {'class': 'form-control form-ajout-enfant-input'}}) }}
        </div>
      </div>

      <div class="row">
        {{ form_label(form.telephone,"Téléphone", {'label_attr': {'class': 'col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-3 control-label'}}) }}
        <div class="col-md-4 col-sm-4 col-xs-4">
          {{ form_widget(form.telephone, {'attr': {'class': 'form-control form-ajout-enfant-input'}}) }}
        </div>
      </div>

      <div class="row">
        {{ form_label(form.adresse_postale,"Adresse", {'label_attr': {'class': 'col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-3 control-label'}}) }}
        <div class="col-md-4 col-sm-4 col-xs-4">
          {{ form_widget(form.adresse_postale, {'attr': {'class': 'col-md-5 form-control form-ajout-enfant-input'}}) }}
        </div>
      </div>

      <div class="row">
        {{ form_label(form.code_postale,"Code postal", {'label_attr': {'class': 'col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-3 control-label'}}) }}
        <div class="col-md-4 col-sm-4 col-xs-4">
          {{ form_widget(form.code_postale, {'attr': {'class': 'form-control form-ajout-enfant-input'}}) }}
        </div>
      </div>

      <div class="row">
        {{ form_label(form.ville,"Ville", {'label_attr': {'class': 'col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-3 control-label'}}) }}
        <div class="col-md-4 col-sm-4 col-xs-4">
          {{ form_widget(form.ville, {'attr': {'class': 'form-control form-ajout-enfant-input'}}) }}
        </div>
      </div>

        <div class="row">
          {{ form_label(form.photo,"Photo", {'label_attr': {'class': 'col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-3 control-label'}}) }}
          <div class="col-md-5 col-sm-5 col-xs-5">
            {{ form_widget(form.photo, {'attr': {'class': 'form-control form-ajout-enfant-input'}}) }}
          </div>
        </div>

          <div class="col-md-4 col-md-offset-5 col-sm-4 col-sm-offset-5 col-xs-4 form-ajout-enfant-bouton">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Enregistrer'}) }}
          </div>
      </div>
    {{ form_end(form) }}
  </div>
{% endblock body %}
