{% extends 'educateurBase.html.twig' %}

{% block title %} Ajout d'une étape {% endblock %}

{% block bodyclass %} class="page-creer-etape" {% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 user-present">
		{{user}}  |

		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<a href="{{ path('fos_user_security_logout') }}">
						{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
				</a>
		{% endif %}
	</div>
</div>

{% if message is defined %}
	<div id="message">
		{{message}}
	</div>
{% endif %}

<div class="row">
    <h1 class="titre-page col-md-12 col-sm-12">Créez votre étape</h1>
</div>

<div class="row">
	<div class="col-md-6 col-sm-12 col-xs-12">
			{{ form_start(form, {'attr': {'class': 'form-ajout-seq'}}) }}
    		<div class="form-group">
					<div class="row">
						{{ form_label(form.libelle,"Titre", {'label_attr': {'class': 'col-md-4 col-sm-4 control-label form-required'}}) }}
						<div class="col-md-6 col-sm-6">
							{{ form_widget(form.libelle, {'attr': {'class': 'form-control form-ajout-seq-input', 'required' :'required'}}) }}
						</div>
					</div>

					<div class="row">
						{{ form_label(form.image,"Image", {'label_attr': {'class': 'col-md-4 col-sm-4 control-label form-required', 'type': 'TextareaType'}}) }}
						<div class="col-md-6 col-sm-6">
							{{ form_widget(form.image, {'attr': {'class': 'form-control form-ajout-seq-input', 'required' :'required'}}) }}
						</div>
					</div>
				</div>

				<div class="form-ajout-seq-bouton">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Enregistrer'}) }}
      </div>
			{{ form_end(form) }}
    </div>

</div>

{% endblock %}