{% extends 'educateurBase.html.twig' %}

{% block stylesheets %}
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="{{asset('css/jquery-ui-timepicker-addon.min.css')}}"/>
{% endblock%}

{% block body %}
<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 user-present">
		{{user}}  |

		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<a href="{{ path('fos_user_security_logout') }}">
						{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
				</a>
		{% endif %}
	</div>
</div>

{% if message is defined %}
	<div id="message">
		{{message}}
	</div>
{% endif %}

<div class="row">
	<h1 class="titre-page col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
			Créer un contrat
	</h1>
</div>

	<div class="container fond-form">
    {{ form_start(form) }}

			<div class="form-group">

				<div class="row">
					{{ form_label(form.libelle,"Titre", {'label_attr': {'class': 'col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-3 col-xs-4 control-label form-required'}}) }}
					<div class="col-md-4 col-sm-4 col-xs-6">
	          {{ form_widget(form.libelle, {'attr': {'class': 'form-control form-input', 'required' :'required'}}) }}
	        </div>
				</div>

				<div class="row">
					{{ form_label(form.description,"Description", {'label_attr': {'class': 'col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-3 col-xs-4 control-label form-required', 'type': 'TextareaType'}}) }}
					<div class="col-md-4 col-sm-4 col-xs-6">
						{{ form_widget(form.description, {'attr': {'class': 'form-control form-input', 'required' :'required'}}) }}
					</div>
				</div>

				<div class="row" >
					{{ form_label(form.date,"Date", {'label_attr': {'class': 'col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-3 col-xs-4 control-label form-required', 'type': 'DateTimeType'}}) }}
					<div class="col-md-4 col-sm-4 col-xs-6">
						{{ form_widget(form.date, {'attr': {'class': 'form-control form-input', 'id':'champ_date','required' :'required', 'date_widget':'single_text', 'time_widget':'single_text'}}) }}
					</div>
				</div>

				<div class="row">
					{{ form_label(form.recompense,"Choisir une récompense", {'label_attr': {'class': 'col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-3 col-xs-4 control-label form-required', 'type': 'ChoiceType'}}) }}
					<div class="col-md-4 col-sm-4 col-xs-6">
						{{ form_widget(form.recompense, {'attr': {'class': 'form-control form-input', 'required' :'required'}}) }}
					</div>
				</div>

				<div class="row">
					{{ form_label(form.sequence,"Choisir une séquence", {'label_attr': {'class': 'col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-3 col-xs-4 control-label form-required', 'type': 'ChoiceType'}}) }}
					<div class="col-md-4 col-sm-4 col-xs-6">
						{{ form_widget(form.sequence, {'attr': {'class': 'form-control form-input', 'required' :'required'}}) }}
					</div>
				</div>

				<div class="row">
					{{ form_label(form.code,"Code de validation des étapes", {'label_attr': {'class': 'col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-3 col-xs-4 control-label form-required'}}) }}
					<div class="col-md-4 col-sm-4 col-xs-6">
						{{ form_widget(form.code, {'attr': {'class': 'form-control form-input', 'required' :'required'}}) }}
					</div>
				</div>

				<div class="col-md-4 col-md-offset-5 col-sm-4 col-sm-offset-5 col-xs-4 form-bouton">
					{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Enregistrer'}) }}
				</div>

			</div>

			{{ form_end(form) }}
	</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{asset('js/jquery-ui.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/jquery-ui-timepicker-addon.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/jquery-ui-sliderAccess.js')}}"></script>
	<script>
			$(function() {
			$('#form_date').datetimepicker();
			});
	</script>
{% endblock %}
