{% extends 'educateurBase.html.twig' %}

{% block title %}Fiche Enfant{% endblock title %}

{% block bodyclass %} class="page-fiche-enfant" {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/fullcalendar.min.css') }}">
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 user-present">
		{{user}}  |

		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<a href="{{ path('fos_user_security_logout') }}">
						{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
				</a>
		{% endif %}
	</div>
</div>
<!-- Modal ETES VOUS SUR -->
<div class="modal fade" id="supprimerEnfantModal" tabindex="-1" role="dialog" aria-labelledby="supprimerEnfantModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="supprimerEnfantModalLabel">Êtes-vous sûr ?</h2>
      </div>
      <div class="col-md-12">Si vous supprimer cette fiche, vous n'aurez plus accès aux données de cet enfant.<br/><br/>
      </div>
      <div class="modal-footer">
        <a id="deleteContrat" href="{{path('educateur_enfant_supprimer', {'id': enfant.id})}}">
          <button type="button" class="btn btn-success">Je suis sûr</button>
        </a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <button type="button" class="col-md-2 btn bouton-inviter">
    <a href="{{ path('educateur_inviter', { 'username' : enfant.username, 'name' : enfant.name }) }}">Inviter</a>
  </button>
	<h1 class="titre-page col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12">
			Fiche de l'enfant
	</h1>

	<button type="button" class="col-md-2 col-md-offset-2 btn bouton-ajout-contrat">
		<a href="{{ path('educateur_creer_contrat', { 'username' : enfant.username, 'name' : enfant.name }) }}">Ajouter un contrat</a>
	</button>
</div>

<div class="container fiche-enfant">

	<div class="fiche-enfant-groupe">
		<div class="row">
			{% if enfant.photo %}
				<img src="{{ asset('uploads/photosEnfant/') }}{{enfant.photo}}" alt="photo de profil de l'enfant" class="photo-profil-enfant img-responsive" />
			{% else %}
				<img src="{{ asset('img/user/user.png') }}" alt="photo de profil de l'enfant" class="photo-profil-enfant img-responsive" />
			{% endif %}
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3 col-xs-6 fiche-enfant-label">Nom : </div>
			<div class="col-md-4 col-sm-4 col-xs-6 fiche-enfant-input">{{enfant.name}}</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3 col-xs-6 fiche-enfant-label">Prénom : </div>
			<div class="col-md-4 col-sm-4 col-xs-6 fiche-enfant-input">{{enfant.username}}</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3 col-xs-6 fiche-enfant-label">Âge : </div>
				{% if enfant.age is null %}
					<div class="col-md-4 col-sm-4 col-xs-6 fiche-enfant-input-vide">Champ non renseigné</div>
				{% else %}
					<div class="col-md-4 col-sm-4 col-xs-6 fiche-enfant-input">{{enfant.age}} ans</div>
				{% endif %}
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3 col-xs-6 fiche-enfant-label">Téléphone : </div>
				{% if enfant.telephone is null %}
					<div class="col-md-4 col-sm-4 col-xs-6 fiche-enfant-input-vide">Champ non renseigné</div>
				{% else %}
					<div class="col-md-4 col-sm-4 col-xs-6 fiche-enfant-input">{{enfant.telephone}}</div>
				{% endif %}
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3 col-xs-6 fiche-enfant-label">Adresse : </div>
				{% if enfant.adressePostale is null %}
					<div class="col-md-4 col-sm-4 col-xs-6 fiche-enfant-input-vide">Champ non renseigné</div>
				{% else %}
					<div class="col-md-4 col-sm-4 col-xs-6 fiche-enfant-input">{{enfant.adressePostale}}</div>
				{% endif %}
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3 col-xs-6 fiche-enfant-label">Code postal : </div>
				{% if enfant.codePostale is null %}
					<div class="col-md-4 col-sm-4 col-xs-6 fiche-enfant-input-vide">Champ non renseigné</div>
				{% else %}
					<div class="col-md-4 col-sm-4 col-xs-6 fiche-enfant-input">{{enfant.codePostale}}</div>
				{% endif %}
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3 col-xs-6 fiche-enfant-label">Ville : </div>
				{% if enfant.ville is null %}
					<div class="col-md-4 col-sm-4 col-xs-6 fiche-enfant-input-vide">Champ non renseigné</div>
				{% else %}
					<div class="col-md-4 col-sm-4 col-xs-6 fiche-enfant-input">{{enfant.ville}}</div>
				{% endif %}
		</div>

      <button class="col-md-2 pull-left btn btn-danger btn-supprimer-enfant" data-toggle="modal" data-target="#supprimerEnfantModal">Supprimer la fiche</button>

      <button type="button" class="col-md-2 pull-right col-sm-2 col-sm-offset-6 col-xs-5 btn btn-primary fiche-enfant-bouton">
		      <a href="{{ path('educateur_enfant_modif', { 'username' : enfant.username, 'name' : enfant.name }) }}">Modifier</a>
		  </button>

	</div>
</div>
<br><br>
<div class="container" id="calendar">

</div>

<div class="container contratEnCours">
	{% for c in contratEnCours %}
		<div class="row">
			<h3>Contrat en cours : {{c.libelle}}</h3>
		</div>
	{% endfor %}
</div>

<div class="container planningEnCours">
	{% for p in planningEnCours %}
		<div class="row">
			<h3>Planning en cours : {{p.libelle}}</h3>
		</div>
	{% endfor %}
</div>

<!-- Modal -->
    <div class="modal fade" id="contratModal" tabindex="-1" role="dialog" aria-labelledby="contratModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="contratModalLabel"></h2>
          </div>
          <div id="modal-body">
          </div>
          <div class="modal-footer">
            <a id="deleteContrat" href="">
              <button type="button" class="btn btn-danger">Supprimer ce contrat</button>
            </a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/fullcalendar.min.js') }}"></script>
  <script src="{{ asset('js/fr.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $('#calendar').fullCalendar({
          header:{
            left:   'month,agendaWeek,agendaDay',
            center: 'title',
            right:  'today prev,next'
          },
          events: [
	          {% for contrat in contrats %}
	            {
	              id: '{{contrat.id}}',
	              enfant: '{{enfant.username}}',
	              date:'{{contrat.date | date("Y-m-d H:i")}}',
	              title: 'Titre : {{contrat.libelle}} {% if contrat.enCours == true %}(en cours){% elseif contrat.fini == true %}(fini){% endif %}',
	              start: '{{contrat.date | date("Y-m-d H-i-s")}}',
	              description: '<div class="col-md-12"><h3>Description : {{contrat.description}}</h3></div><div class="clearfix"></div> <div class="col-md-12"><h4>Enfant : {{contrat.enfant.username}}</h4></div><div class="clearfix"></div> <div class="col-md-12"><h4>Date : {{contrat.date | date("Y-m-d H:i")}}</h4></div><div class="clearfix"></div> {% for etape in contrat.sequence.etapes %}<hr><div class="nomEtape col-md-6"> {{ etape }}</div><div class="imageEtape col-md-6"> <img class="img-responsive" src="{{asset("img/etape/")}}{{etape.image}}"/></div><div class="clearfix"></div>{% endfor %}',
	              className: 'clickable',
	            },
	          {% endfor %}
          ],
          eventRender: function(event, element) {
              element.attr("data-toggle", "modal");
              element.attr("data-target", "#contratModal");
              // element.attr("style", "background-color:"+event.color);
          },
          eventClick: function(calEvent, jsEvent, view) {
            var title = calEvent.title;
            var description = calEvent.description;
            var modalTitle = document.getElementById("contratModalLabel");
            modalTitle.innerHTML = title;
            var modalBody = document.getElementById("modal-body");
            modalBody.innerHTML = description;
            var deleteContrat = document.getElementById("deleteContrat");
            var path = "{{path('educateur_supprimer_contrat', {'id': "PLACEHOLDER"})}}";
            path = path.replace("PLACEHOLDER", calEvent.id);
            deleteContrat.setAttribute('href', path);

        }

        })

    });
  </script>
{% endblock %}
