{% extends 'enfantBase.html.twig' %}

{% block title %}
	Contrat
{% endblock title %}

{% block bodyclass %}
	class="page-contrat"
{% endblock bodyclass %}

{% block body %}
	{% if firstVisit %}
		<div id="fondNoir"></div>
        <video src="{{asset('img/tuto/TutoEnfantContrat.mp4')}}" id="tutoriel" class="img-responsive" alt="tutoriel" preload controls autoplay> </video>
        <button class="btn btn-danger" id="btnCloseVideo" onclick="closeVideo();">Fermer la video</button>
    {% endif %}

    <div class="row clavier">		
		<div class="col-md-11"></div>
		<div class="col-md-2 clavier-absolute">
			<table class="table table-bordered table-condensed none" id="table">
				<tr>
					<td colspan="2"><input type="password" id="inputClavier" /></td>
					<td><button class="btn" id="boutonClavier">OK</button></td>
				</tr>
				<tr>
					<td id="1">1</td>
					<td id="2">2</td>
					<td id="3">3</td>
				</tr>
				<tr>
					<td id="4">4</td>
					<td id="5">5</td>
					<td id="6">6</td>
				</tr>
				<tr>
					<td id="7">7</td>
					<td id="8">8</td>
					<td id="9">9</td>
				</tr>
			</table>
		</div>
		<div class="col-md-1">
			<img src="{{ asset('img/contrat/grid32.png') }}" class="img-responsive grid" id="grid" />
		</div>
	</div>

	<div class="row" id="casesEtapes">
		{% for etape in etapes %}
			<div class="etape col-xs-{{sizeCol}} {% if loop.first %}col-xs-offset-{{offset}}{% endif %}">
				<img class="img-responsive" src="{{asset('img/etape/')}}{{etape.image}}" width="200" height="200">
				<br />
				{% if loop.last %}
				<div class="jeton">
					<div class="drop-jeton last"></div>
				</div>
				{% else %}
				<div class="jeton">
					<div class="drop-jeton"></div>
				</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>

	<div id="img-jeton" class="col-xs-1">
	</div>

	<!-- Modal -->
    <div class="modal fade" id="contratFiniModal" tabindex="-1" role="dialog" aria-labelledby="contratFiniModalLabel" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div id="modal-body">
          	<p>Bravo, {{user}} !!</p>
          	<p>Tu as fini ton contrat avec succès !</p>
          	<p>Tu as gagné : {{nbreEtapes}} points.</p>
          	<p>Voici ta récompense : </p>
          	<p class="libelle">{{contrat.recompense.libelle}}</p>
          	<p><img src="{{asset('img/recompense/')}}{{contrat.recompense.image}}" alt="recompense" width="100" height="100" /></p>
          </div>
          <div class="modal-footer">
            <a id="validContrat" href="{{ path('enfant_contratindex', {'points' : nbreEtapes , 'id_contrat' : contrat.id , 'id_user' : user.id }) }}">
              <button type="button" class="btn">Enregistrer</button>
            </a>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/clavier.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/interact.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/draganddrop_contrat.js') }}"></script>

	<script>
		password = "{{contrat.code}}";

		{% if firstVisit %}
            var video = document.getElementById('tutoriel');
            var btnCloseVideo = document.getElementById('btnCloseVideo');
            var fondNoir = document.getElementById('fondNoir');

            function closeVideo(e){
                video.setAttribute('class', 'hidden');
                btnCloseVideo.setAttribute('class', 'hidden');
                fondNoir.setAttribute('class', 'hidden');
            }
        {% endif %}
    </script>
{% endblock javascripts %}